<h1><%= @user.email%></h1>
<h5><%= @user.email%> has <%= @user.banana %> bananas</h5>
<p><a href="banana_transactions/<%= user.id %>/edit">Click here to purchase more bananas.</a> Please find your credit card!</p>