<h1 class="signup-head">Welcome to Blahnana</h1>

<div class="signup-panel">
  <p class="signup-sub-head">
    <span class="signup-invite">sign up now</span><br>
    <span class="offer">free</span>
    <span id="twenty">20</span>
    <span class="offer">bananas</span> 
  </p>

  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Image_url</label>
    <input type="text" name="image_url">
    <label for="">password</label>
    <input type="text" name="password">
    <button>sign up</button>
  </form>
</div>

