<h1 class="signup-head">Welcome to Blahnana</h1>

<div class="signup-panel">
  <p class="signup-sub-head">
    <span class="signup-invite">sign up now</span><br>
    <span class="offer">free</span>
    <span id="twenty">20</span>
    <span class="offer">bananas</span> 
  </p>

  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

    <div class="ipt-line">
      <div class="user-col">
        <label for="">Username</label>
      </div>
      <div class="user-ipt-area">
        <input type="text" name="username">
      </div>
    </div>

    <div class="ipt-line">
      <div class="user-col">
        <label for="">Email</label>
      </div>
      <div class="user-ipt-area">
        <input type="text" name="email">
      </div>
    </div>

    <div class="ipt-line">
      <div class="user-col">
        <label for="">Image_url</label>
      </div>
      <div class="user-ipt-area">
        <input type="text" name="image_url">
      </div>
    </div>
    
    <div class="ipt-line">
      <div class="user-col">
        <label for="">password</label>
      </div>
      <div class="user-ipt-area">
        <input type="text" name="password">
      </div>
    </div>

    <button class="signup-btn">sign up</button>
  </form>
</div>

