<div class="banner">
  <p>welcome to... </p>
  <h1>B l a h n a n a</h1>
  <p>
    a creative community for you to blah bits and pieces into stories.
  </p>
</div>

<div class="new-story">
  <button class="new-story-btn">
    Start a new story
  </button>
</div>

<div class="new-story-form hide">
  <form action="/stories" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label for="">Title</label>
    <input class="title_ipt" type="text" name="title">
    <label for="">Img upload</label>
    <input class="img_file" type="file" name="img_file">
    <button class="create-btn">create</button>
  </form>
</div>

<h1 class="invite">make these stories more awesome ? go write your twist !</h1>

<div class="stories-container">
  <% @stories.each do |story| %>
  <div class="story-con">
    <a href="/stories/<%=story.id%>">
      <%= story.title%>
      <img src="<%= story.story_img%>" alt="">
    </a>
  </div>
  <%end%>
</div>

<script type="text/javascript">

$('.new-story-btn').click(function(){
  $('.new-story-form').removeClass('hide')
})

</script>
