/*universal class*/
.hide {
  display: none;
}
/*layout*/
body {
  background-color: rgb(255,180,70);
}

.top-nav {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 4px 10px;
  margin: 10px 0;
  align-content: center;
  justify-content: space-between;
}

.logo {
  width: 160px;
  margin: 5px 0 0 20px;
}

.user-panel-head {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.nav-elem-group {
  margin: 0 20px 0 0;

}

.username, .banana-status, .user-image, .login-out, .banana-status>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  width: auto;
  color: black;
}

.banana-status {
  width: auto;
}

.banana-status>a {
/*   display: flex;
justify-content: center;
align-items: center; */
  flex-direction: row;
  width: 100%;
}
img.banana-icon {
  width: 32px;
  height: 32px
}

img.hash-icon {
  width: 32px;
  height: 32px;
}

.bnn-balance {
  font-size: 1em;
}

.user-icon {
  width: 32px;
}

.user-icon>img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px black solid;
}

.login-out {
  padding: 0 10px;
  font-size: 1em;
}

footer {
  text-align: center;
  color: black;
  font-size: 0.8em;
  padding: 30px 0;
}
/*end of layout*/
/*start homepage*/
.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;

}

.banner>h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 5em;
  padding: 5% 0;
}

.banner>p {
  font-size: 2em;
}

.new-story, .new-story-form {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-story-btn {
  width: 20%;
  padding: 20px;
  border-radius: 50px;
  background-color: black;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(255,180,70);
  border: black;
}

.new-story-btn:hover {
  color: #F67A00;
}

.invite {
  margin: 20px 0 0;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}


.stories-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  padding: 100px 0;
  margin: 0 auto;

}

.story-con {
  display: flex;
  flex-direction: column;
  width: 26%;
  margin: 0 0 50px;
  padding: 3%;
  background-color: black;
  box-shadow: 1px 3px 15px 0px rgba(0,0,0,0.75);
}


.story-con>a{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.story-con>a>span{
  text-align: center;
  color: white;
  padding: 0 0 10%;
  font-size: 2rem;
}

.story-con>a>span:hover {
  text-decoration: none;
  color: #F67A00;
}

.delete-story {
  align-self: center;
  padding-top: 10%;
}

.new-story-form>form {
  width: 70%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 3%;
  border-radius: 15px;
  color: white;
}

.title_ipt {
  margin-right: 8%;
  color: #F67A00;
  font-weight: 500;
}

.img-file {
  display: inline-block;
}

.create-btn {
  background-color: #F67A00;
  border: black;
}

/*homepage end*/
/*user page start*/

.user-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.username-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username-image>h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 5em;
  padding: 5% 0;
  text-align: center;
}

.username-image >img {
  width: 50%;
  align-self: center;
}

.user-info {
  width: 50%;
  padding-top: 15%;
  font-size: 2em
}

.usr-attr {
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  padding-right: 30px;
}

img.banana-icon-64 {
  width: 2em;
  height: 2em;
  margin-right: 30px;
}

.each-info, .each-info>a {
  display: flex;
  align-items: center;
  padding: 5px 0 30px 0;
}
/*user page ends*/
/*story page starts*/

.story-head {
  font-family: 'Fredoka One', cursive;
  font-size: 5em;
  margin: 5% 2%;
}

.current_story {
  width: 80%;
  background-color: rgba(255,255,255, 0.4);
  margin: 2% auto;
  border-radius: 15px;
  padding: 2%;
}

.story-entry {
  width: 95%;
  background-color: rgba(255,255,255, 0.2);
  padding: 2%;
  margin: 2% auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;

}
.user-panel {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 1%;
  background-color: black;
}
.user-panel-above, .user-panel-below {
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 2%;
  color: white;

}

.user-panel-below {
  margin-top: 5%;
}


.user-panel-above>.username, .entry_user_bnn {
  font-weight: 800;
  font-size: 1em;
  color: white;
}
.user-icon>img {
  border: 2px rgb(255,180,70) solid;
}
.user-panel-below>.hash-icon {
  width: 16px;
  height: 16px;
}

.blah {
  width: 75%;
}

/*story page ends*/
/*buynana starts*/

.bnn-reload {
  font-family: 'Fredoka One', cursive;
  font-size: 4em;
  text-align: center;
  padding: 8% 0;
}

.bnn-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 70%;
  background-color: rgba(255,255,255, 0.3);
  padding: 2%;
  margin: 5% auto;
  border-radius: 15px;
}

.bnn {
  width: 15%;
  margin: 2% 5% 2% 5%;
}

.bnn-con>span {
  font-family: 'Fredoka One', cursive;
  font-size: 5em;
  margin-right: 4%;
}

.bnn-con>span.x {
  font-size: 3em;
  margin-right: 4%;
}

.pay-btn {
  position: absolute;
  top: 100px;
  right: 75px;
}
/*buynana end*/

